
#menu {
    display: flex;
    align-items: center;
  }

  .menu_bar{
    list-style: none; 
    display: flex; 
 }

font-face{
  font-family: Menu;
src: url(PatuaOne-Regular.ttf);
}

  .menu_link {
      color: #FFFFFF;
      font-size: 28px;
      font-weight: 400;
      font-family: menu;
      text-decoration: none;
      padding: 9px 24px; 
      display:left ;
      
    }
    
    body{
        background: url(imagen/Pasta.png);   
    } 

    #instagram{
      align-items: right;
      padding-top: 200px;
      background-size:25px 50px;
      display:right ;
      position: relative;
      padding-right: 200px;    
  }
